<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-app="AppSocket">
    <div class="container" ng-controller="AppController">
        <div class="page-header">
            <h1>GIECOM  <small>Subtext for header</small></h1>
        </div>
        <ul class="nav nav-tabs" ng-init="tab = 1">
            <li role="presentation" ng-class="tab == 1? active: ''" ng-click="tab=1"><a href="#">Home</a></li>
            <li role="presentation" ng-class="tab == 2? active: ''" ng-click="tab=2"><a href="#">Profile</a></li>
            <li role="presentation" ng-class="tab == 3? active: ''" ng-click="tab=3"><a href="#">Messages</a></li>
        </ul>
        <div ng-show="tab==1">
            <br>
            <div ng-include="'views/list.html'"></div>
        </div>
        <div ng-show="tab==2">
            <h1>Hola 2</h1>
        </div>
    </div>

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="http://localhost:3000/socket.io/socket.io.js"></script>-->
    <script src="angular/angular.min.js"></script>
    <script src="angular-socket-io/socket.min.js"></script>
    <script src="../js/Controller_Connection.js"></script>
    <!--<script src="../js/Services.js"></script>-->
  </body>
</html>
